In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#!ls /Users/paxton615/Downloads/facebook-v-predicting-check-ins/

In [2]:
df = pd.read_csv('/Users/paxton615/Downloads/facebook-v-predicting-check-ins/train.csv')

In [3]:
df.shape

(29118021, 6)

In [4]:
df.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [5]:
df[['x','y','accuracy']].describe()

                  x             y      accuracy
count  2.911802e+07  2.911802e+07  2.911802e+07
mean   4.999770e+00  5.001814e+00  8.284912e+01
std    2.857601e+00  2.887505e+00  1.147518e+02
min    0.000000e+00  0.000000e+00  1.000000e+00
25%    2.534700e+00  2.496700e+00  2.700000e+01
50%    5.009100e+00  4.988300e+00  6.200000e+01
75%    7.461400e+00  7.510300e+00  7.500000e+01
max    1.000000e+01  1.000000e+01  1.033000e+03

#### save in evernote

In [6]:
data = df.query("2<x & x<2.5 & 1<y &y<1.5")

In [7]:
data = df[(df['x']>2) & (df['x']<2.5) & (df['y']>1) & (df['y']<1.5)]

In [8]:
# data.to_csv('/Users/paxton615/Github_Personal/facebook_predicting_checkins/facebook80000.csv',index=False)

In [9]:
data=pd.read_csv('/Users/paxton615/Github_Personal/facebook_predicting_checkins/facebook80000.csv')
data.shape

(83197, 6)

In [10]:
data['day'] = pd.to_datetime(data['time'], unit='s').dt.day
data['hour'] = pd.to_datetime(data['time'], unit='s').dt.hour
data['weekday']= pd.to_datetime(data['time'], unit='s').dt.weekday

In [11]:
data.head()

   row_id       x       y  accuracy    time    place_id  day  hour  weekday
0     112  2.2360  1.3655        66  623174  7663031065    8     5        3
1     180  2.2003  1.2541        65  610195  2358558474    8     1        3
2     367  2.4108  1.3213        74  579667  6644108708    7    17        2
3     874  2.0822  1.1973       320  143566  3229876087    2    15        4
4    1022  2.0160  1.1659        65  207993  3244363975    3     9        5

In [12]:
data['time_value']=pd.to_datetime(data['time'],unit='s') # unit='s' is very important

In [13]:
pd.DatetimeIndex(data['time_value']).day

Int64Index([8, 8, 7, 2, 3, 6, 6, 2, 4, 7,
            ...
            2, 1, 9, 2, 4, 9, 7, 9, 2, 1],
           dtype='int64', name='time_value', length=83197)

In [14]:
place_count = data.groupby('place_id')['row_id'].count() #使用groupby创造新框架

place_count[place_count>3].index.values #通过调取index将新框架与老data简历逻辑联系

data['place_id'].isin(place_count[place_count>3].index.values) #通过isin将逻辑传入老data，完成过滤

0         True
1        False
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21       False
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
83167     True
83168     True
83169     True
83170     True
83171     True
83172     True
83173     True
83174     True
83175     True
83176     True
83177     True
83178     True
83179     True
83180     True
83181     True
83182     True
83183     True
83184     True
83185     True
83186     True
83187     True
83188     True
83189     True
83190     True
83191     True
83192     True
83193     True
83194     True
83195     True
83196     True
Name: place_id, Length: 83197, dtype: bool

### install spell_checker in terminal
code:
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
jupyter nbextension enable spellchecker/main

https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/spellchecker/README.html

#### 5.12 查看GA课件 introduction-to-nlp

In [15]:
spam = """
Hello,\nI saw your contact information on LinkedIn. I have carefully read through your profile and you seem to have an outstanding personality. This is one major reason why I am in contact with you. My name is Mr. Valery Grayfer Chairman of the Board of Directors of PJSC "LUKOIL". I am 86 years old and I was diagnosed with cancer 2 years ago. I will be going in for an operation later this week. I decided to WILL/Donate the sum of 8,750,000.00 Euros(Eight Million Seven Hundred And Fifty Thousand Euros Only etc. etc.
"""

ham = """
Hello, \nI am writing in regards to your application to the position of Data Scientist at Hooli X. We are pleased to inform you that you passed the first round of interviews and we would like to invite you for an on-site interview with our Senior Data Scientist Mr. John Smith. You will find attached to this message further information on date, time and location of the interview. Please let me know if I can be of any further assistance. Best Regards.
"""
print(spam)
print()
print(ham)

Hello,
I saw your contact information on LinkedIn. I have carefully read through your profile and you seem to have an outstanding personality. This is one major reason why I am in contact with you. My name is Mr. Valery Grayfer Chairman of the Board of Directors of PJSC "LUKOIL". I am 86 years old and I was diagnosed with cancer 2 years ago. I will be going in for an operation later this week. I decided to WILL/Donate the sum of 8,750,000.00 Euros(Eight Million Seven Hundred And Fifty Thousand Euros Only etc. etc.



Hello,
I am writing in regards to your application to the position of Data Scientist at Hooli X. We are pleased to inform you that you passed the first round of interviews and we would like to invite you for an on-site interview with our Senior Data Scientist Mr. John Smith. You will find attached to this message further information on date, time and location of the interview. Please let me know if I can be of any further assistance. Best Regards.

#### 非常方便的str统计功能,当然不仅限于str的统计

In [16]:
from collections import Counter

print(Counter(spam.lower().split()))
print()
print(Counter(ham.lower().split()))

Counter({'i': 7, 'of': 4, 'and': 3, 'your': 2, 'contact': 2, 'have': 2, 'to': 2, 'an': 2, 'this': 2, 'is': 2, 'am': 2, 'in': 2, 'with': 2, 'the': 2, 'years': 2, 'etc.': 2, 'hello,': 1, 'saw': 1, 'information': 1, 'on': 1, 'linkedin.': 1, 'carefully': 1, 'read': 1, 'through': 1, 'profile': 1, 'you': 1, 'seem': 1, 'outstanding': 1, 'personality.': 1, 'one': 1, 'major': 1, 'reason': 1, 'why': 1, 'you.': 1, 'my': 1, 'name': 1, 'mr.': 1, 'valery': 1, 'grayfer': 1, 'chairman': 1, 'board': 1, 'directors': 1, 'pjsc': 1, '"lukoil".': 1, '86': 1, 'old': 1, 'was': 1, 'diagnosed': 1, 'cancer': 1, '2': 1, 'ago.': 1, 'will': 1, 'be': 1, 'going': 1, 'for': 1, 'operation': 1, 'later': 1, 'week.': 1, 'decided': 1, 'will/donate': 1, 'sum': 1, '8,750,000.00': 1, 'euros(eight': 1, 'million': 1, 'seven': 1, 'hundred': 1, 'fifty': 1, 'thousand': 1, 'euros': 1, 'only': 1})

Counter({'to': 5, 'of': 4, 'you': 4, 'the': 3, 'i': 2, 'data': 2, 'scientist': 2, 'we': 2, 'and': 2, 'further': 2, 'hello,': 1, 'am': 1, 'writing': 1, 'in': 1, 'regards': 1, 'your': 1, 'application': 1, 'position': 1, 'at': 1, 'hooli': 1, 'x.': 1, 'are': 1, 'pleased': 1, 'inform': 1, 'that': 1, 'passed': 1, 'first': 1, 'round': 1, 'interviews': 1, 'would': 1, 'like': 1, 'invite': 1, 'for': 1, 'an': 1, 'on-site': 1, 'interview': 1, 'with': 1, 'our': 1, 'senior': 1, 'mr.': 1, 'john': 1, 'smith.': 1, 'will': 1, 'find': 1, 'attached': 1, 'this': 1, 'message': 1, 'information': 1, 'on': 1, 'date,': 1, 'time': 1, 'location': 1, 'interview.': 1, 'please': 1, 'let': 1, 'me': 1, 'know': 1, 'if': 1, 'can': 1, 'be': 1, 'any': 1, 'assistance.': 1, 'best': 1, 'regards.': 1})

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

cvec = CountVectorizer(token_pattern='\w+', stop_words=
                       {"the"}, ngram_range=(1,2))
# token_pattern=‘，正则表达式，匹配数字和字母下划线的多个字符；
# ngram_range：tuple (min_n, max_n)词组切分的长度范围
# stop_words=设置停用词，设为english将使用内置的英语停用词，设为一个list可自定义停用词，
# 设为None不使用停用词，设为None且max_df∈[0.7, 1.0)将自动根据当前的语料库建立停用词表
cvec.fit([spam,ham])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 2), preprocessor=None, stop_words={'the'},
        strip_accents=None, token_pattern='\\w+', tokenizer=None,
        vocabulary=None)

In [18]:
document_matrix = cvec.transform([spam, ham])
document_matrix

<2x283 sparse matrix of type '<class 'numpy.int64'>'
	with 305 stored elements in Compressed Sparse Row format>

In [ ]:
cvec.get_feature_names()

In [ ]:
print("Number of nonzero entries:")
print(document_matrix.nnz)
print("Highest count:")
print(document_matrix.max())
print("Row means:")
print(document_matrix.mean(axis=1))
print("Transform to numpy array format:")
print(document_matrix.toarray()) #有两个lists是因为有两个文本文件spam和ham

In [19]:
import pandas as pd
df = pd.DataFrame(cvec.transform([spam, ham]).toarray(),
                  columns=cvec.get_feature_names())

df.transpose().sort_values(0, ascending=False).transpose()

,i,of,and,to,euros,etc,have,an,this,will,...,date,date time,on site,on date,of interviews,of interview,of data,of any,find,location
0,7,4,3,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
1,2,4,2,5,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [27]:
df.transpose().sort_values(0, ascending=False).head()

       0  1
i      7  2
of     4  4
and    3  2
to     2  5
euros  2  0

In [29]:
df.sum(axis=0).sort_values(ascending=False).head(10)

i       9
of      8
to      7
you     6
and     5
an      3
will    3
am      3
in      3
with    3
dtype: int64