In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/paxton615/Downloads/facebook-v-predicting-check-ins/train.csv')

In [3]:
df.shape

(29118021, 6)

In [4]:
df.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [5]:
df[['x','y','accuracy']].describe()

                  x             y      accuracy
count  2.911802e+07  2.911802e+07  2.911802e+07
mean   4.999770e+00  5.001814e+00  8.284912e+01
std    2.857601e+00  2.887505e+00  1.147518e+02
min    0.000000e+00  0.000000e+00  1.000000e+00
25%    2.534700e+00  2.496700e+00  2.700000e+01
50%    5.009100e+00  4.988300e+00  6.200000e+01
75%    7.461400e+00  7.510300e+00  7.500000e+01
max    1.000000e+01  1.000000e+01  1.033000e+03

#### save in evernote

In [6]:
data = df.query("2<x & x<2.5 & 1<y &y<1.5")

In [7]:
data = df[(df['x']>2) & (df['x']<2.5) & (df['y']>1) & (df['y']<1.5)]

In [8]:
# data.to_csv('/Users/paxton615/Github_Personal/facebook_predicting_checkins/facebook80000.csv',index=False)

In [9]:
data=pd.read_csv('/Users/paxton615/Github_Personal/facebook_predicting_checkins/facebook80000.csv')
data.shape

(83197, 6)

In [10]:
data['day'] = pd.to_datetime(data['time'], unit='s').dt.day
data['hour'] = pd.to_datetime(data['time'], unit='s').dt.hour
data['weekday']= pd.to_datetime(data['time'], unit='s').dt.weekday

In [11]:
data.head()

   row_id       x       y  accuracy    time    place_id  day  hour  weekday
0     112  2.2360  1.3655        66  623174  7663031065    8     5        3
1     180  2.2003  1.2541        65  610195  2358558474    8     1        3
2     367  2.4108  1.3213        74  579667  6644108708    7    17        2
3     874  2.0822  1.1973       320  143566  3229876087    2    15        4
4    1022  2.0160  1.1659        65  207993  3244363975    3     9        5

In [12]:
data['time_value']=pd.to_datetime(data['time'],unit='s') # unit='s' is very important

In [13]:
pd.DatetimeIndex(data['time_value']).day

Int64Index([8, 8, 7, 2, 3, 6, 6, 2, 4, 7,
            ...
            2, 1, 9, 2, 4, 9, 7, 9, 2, 1],
           dtype='int64', name='time_value', length=83197)

In [14]:
place_count = data.groupby('place_id')['row_id'].count() #使用groupby创造新框架

place_count[place_count>3].index.values #通过调取index将新框架与老data简历逻辑联系

data['place_id'].isin(place_count[place_count>3].index.values) #通过isin将逻辑传入老data，完成过滤

0         True
1        False
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21       False
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
83167     True
83168     True
83169     True
83170     True
83171     True
83172     True
83173     True
83174     True
83175     True
83176     True
83177     True
83178     True
83179     True
83180     True
83181     True
83182     True
83183     True
83184     True
83185     True
83186     True
83187     True
83188     True
83189     True
83190     True
83191     True
83192     True
83193     True
83194     True
83195     True
83196     True
Name: place_id, Length: 83197, dtype: bool

### install spell_checker in terminal
code:
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
jupyter nbextension enable spellchecker/main

https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/spellchecker/README.html