In [ ]:
import pandas as pd
import numpy as np

In [36]:
!ls /Users/paxton615/Downloads/facebook-v-predicting-check-ins/

sample_submission.csv.zip train.csv
test.csv.zip              train.csv.zip

In [2]:
df = pd.read_csv('/Users/paxton615/Downloads/facebook-v-predicting-check-ins/train.csv')

In [3]:
df.shape

(29118021, 6)

In [4]:
df.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [5]:
df[['x','y','accuracy']].describe()

                  x             y      accuracy
count  2.911802e+07  2.911802e+07  2.911802e+07
mean   4.999770e+00  5.001814e+00  8.284912e+01
std    2.857601e+00  2.887505e+00  1.147518e+02
min    0.000000e+00  0.000000e+00  1.000000e+00
25%    2.534700e+00  2.496700e+00  2.700000e+01
50%    5.009100e+00  4.988300e+00  6.200000e+01
75%    7.461400e+00  7.510300e+00  7.500000e+01
max    1.000000e+01  1.000000e+01  1.033000e+03

#### save in evernote

In [6]:
data = df.query("2<x & x<2.5 & 1<y &y<1.5")

In [7]:
data = df[(df['x']>2) & (df['x']<2.5) & (df['y']>1) & (df['y']<1.5)]

In [8]:
# data.to_csv('/Users/paxton615/Github_Personal/facebook_predicting_checkins/facebook80000.csv',index=False)

In [9]:
data=pd.read_csv('/Users/paxton615/Github_Personal/facebook_predicting_checkins/facebook80000.csv')
data.shape

(83197, 6)

In [10]:
data['day'] = pd.to_datetime(data['time'], unit='s').dt.day
data['hour'] = pd.to_datetime(data['time'], unit='s').dt.hour
data['weekday']= pd.to_datetime(data['time'], unit='s').dt.weekday

In [11]:
data.head()

   row_id       x       y  accuracy    time    place_id  day  hour  weekday
0     112  2.2360  1.3655        66  623174  7663031065    8     5        3
1     180  2.2003  1.2541        65  610195  2358558474    8     1        3
2     367  2.4108  1.3213        74  579667  6644108708    7    17        2
3     874  2.0822  1.1973       320  143566  3229876087    2    15        4
4    1022  2.0160  1.1659        65  207993  3244363975    3     9        5

In [12]:
data['time_value']=pd.to_datetime(data['time'],unit='s') # unit='s' is very important

In [13]:
pd.DatetimeIndex(data['time_value']).day

Int64Index([8, 8, 7, 2, 3, 6, 6, 2, 4, 7,
            ...
            2, 1, 9, 2, 4, 9, 7, 9, 2, 1],
           dtype='int64', name='time_value', length=83197)

In [14]:
place_count = data.groupby('place_id')['row_id'].count() #使用groupby创造新框架

place_count[place_count>3].index.values #通过调取index将新框架与老data简历逻辑联系

data['place_id'].isin(place_count[place_count>3].index.values) #通过isin将逻辑传入老data，完成过滤

0         True
1        False
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21       False
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
83167     True
83168     True
83169     True
83170     True
83171     True
83172     True
83173     True
83174     True
83175     True
83176     True
83177     True
83178     True
83179     True
83180     True
83181     True
83182     True
83183     True
83184     True
83185     True
83186     True
83187     True
83188     True
83189     True
83190     True
83191     True
83192     True
83193     True
83194     True
83195     True
83196     True
Name: place_id, Length: 83197, dtype: bool

### install spell_checker in terminal
code:
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
jupyter nbextension enable spellchecker/main

https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/spellchecker/README.html

#### 5.12 查看GA课件 introduction-to-nlp

In [15]:
spam = """
Hello,\nI saw your contact information on LinkedIn. I have carefully read through your profile and you seem to have an outstanding personality. This is one major reason why I am in contact with you. My name is Mr. Valery Grayfer Chairman of the Board of Directors of PJSC "LUKOIL". I am 86 years old and I was diagnosed with cancer 2 years ago. I will be going in for an operation later this week. I decided to WILL/Donate the sum of 8,750,000.00 Euros(Eight Million Seven Hundred And Fifty Thousand Euros Only etc. etc.
"""

ham = """
Hello, \nI am writing in regards to your application to the position of Data Scientist at Hooli X. We are pleased to inform you that you passed the first round of interviews and we would like to invite you for an on-site interview with our Senior Data Scientist Mr. John Smith. You will find attached to this message further information on date, time and location of the interview. Please let me know if I can be of any further assistance. Best Regards.
"""
print(spam)
print()
print(ham)

Hello,
I saw your contact information on LinkedIn. I have carefully read through your profile and you seem to have an outstanding personality. This is one major reason why I am in contact with you. My name is Mr. Valery Grayfer Chairman of the Board of Directors of PJSC "LUKOIL". I am 86 years old and I was diagnosed with cancer 2 years ago. I will be going in for an operation later this week. I decided to WILL/Donate the sum of 8,750,000.00 Euros(Eight Million Seven Hundred And Fifty Thousand Euros Only etc. etc.



Hello,
I am writing in regards to your application to the position of Data Scientist at Hooli X. We are pleased to inform you that you passed the first round of interviews and we would like to invite you for an on-site interview with our Senior Data Scientist Mr. John Smith. You will find attached to this message further information on date, time and location of the interview. Please let me know if I can be of any further assistance. Best Regards.

#### 非常方便的str统计功能,当然不仅限于str的统计

In [16]:
from collections import Counter

print(Counter(spam.lower().split()))
print()
print(Counter(ham.lower().split()))

Counter({'i': 7, 'of': 4, 'and': 3, 'your': 2, 'contact': 2, 'have': 2, 'to': 2, 'an': 2, 'this': 2, 'is': 2, 'am': 2, 'in': 2, 'with': 2, 'the': 2, 'years': 2, 'etc.': 2, 'hello,': 1, 'saw': 1, 'information': 1, 'on': 1, 'linkedin.': 1, 'carefully': 1, 'read': 1, 'through': 1, 'profile': 1, 'you': 1, 'seem': 1, 'outstanding': 1, 'personality.': 1, 'one': 1, 'major': 1, 'reason': 1, 'why': 1, 'you.': 1, 'my': 1, 'name': 1, 'mr.': 1, 'valery': 1, 'grayfer': 1, 'chairman': 1, 'board': 1, 'directors': 1, 'pjsc': 1, '"lukoil".': 1, '86': 1, 'old': 1, 'was': 1, 'diagnosed': 1, 'cancer': 1, '2': 1, 'ago.': 1, 'will': 1, 'be': 1, 'going': 1, 'for': 1, 'operation': 1, 'later': 1, 'week.': 1, 'decided': 1, 'will/donate': 1, 'sum': 1, '8,750,000.00': 1, 'euros(eight': 1, 'million': 1, 'seven': 1, 'hundred': 1, 'fifty': 1, 'thousand': 1, 'euros': 1, 'only': 1})

Counter({'to': 5, 'of': 4, 'you': 4, 'the': 3, 'i': 2, 'data': 2, 'scientist': 2, 'we': 2, 'and': 2, 'further': 2, 'hello,': 1, 'am': 1, 'writing': 1, 'in': 1, 'regards': 1, 'your': 1, 'application': 1, 'position': 1, 'at': 1, 'hooli': 1, 'x.': 1, 'are': 1, 'pleased': 1, 'inform': 1, 'that': 1, 'passed': 1, 'first': 1, 'round': 1, 'interviews': 1, 'would': 1, 'like': 1, 'invite': 1, 'for': 1, 'an': 1, 'on-site': 1, 'interview': 1, 'with': 1, 'our': 1, 'senior': 1, 'mr.': 1, 'john': 1, 'smith.': 1, 'will': 1, 'find': 1, 'attached': 1, 'this': 1, 'message': 1, 'information': 1, 'on': 1, 'date,': 1, 'time': 1, 'location': 1, 'interview.': 1, 'please': 1, 'let': 1, 'me': 1, 'know': 1, 'if': 1, 'can': 1, 'be': 1, 'any': 1, 'assistance.': 1, 'best': 1, 'regards.': 1})

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

cvec = CountVectorizer(token_pattern='\w+', stop_words=
                       {"the"}, ngram_range=(1,2))
# token_pattern=‘，正则表达式，匹配数字和字母下划线的多个字符；
# ngram_range：tuple (min_n, max_n)词组切分的长度范围
# stop_words=设置停用词，设为english将使用内置的英语停用词，设为一个list可自定义停用词，
# 设为None不使用停用词，设为None且max_df∈[0.7, 1.0)将自动根据当前的语料库建立停用词表
cvec.fit([spam,ham])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 2), preprocessor=None, stop_words={'the'},
        strip_accents=None, token_pattern='\\w+', tokenizer=None,
        vocabulary=None)

In [18]:
document_matrix = cvec.transform([spam, ham])
document_matrix

<2x283 sparse matrix of type '<class 'numpy.int64'>'
	with 305 stored elements in Compressed Sparse Row format>

In [ ]:
cvec.get_feature_names()

In [ ]:
print("Number of nonzero entries:")
print(document_matrix.nnz)
print("Highest count:")
print(document_matrix.max())
print("Row means:")
print(document_matrix.mean(axis=1))
print("Transform to numpy array format:")
print(document_matrix.toarray()) #有两个lists是因为有两个文本文件spam和ham

In [19]:
import pandas as pd
df = pd.DataFrame(cvec.transform([spam, ham]).toarray(),
                  columns=cvec.get_feature_names())

df.transpose().sort_values(0, ascending=False).transpose()

,i,of,and,to,euros,etc,have,an,this,will,...,date,date time,on site,on date,of interviews,of interview,of data,of any,find,location
0,7,4,3,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
1,2,4,2,5,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [27]:
df.transpose().sort_values(0, ascending=False).head()

       0  1
i      7  2
of     4  4
and    3  2
to     2  5
euros  2  0

In [29]:
df.sum(axis=0).sort_values(ascending=False).head(10)

i       9
of      8
to      7
you     6
and     5
an      3
will    3
am      3
in      3
with    3
dtype: int64

In [ ]:
# 做笔记

In [30]:
df

,00,00 euros,000,000 00,2,2 years,750,750 000,8,8 750,...,you for,you my,you passed,you seem,you that,you will,your,your application,your contact,your profile
0,1,1,1,1,1,1,1,1,1,1,...,0,1,0,1,0,0,2,0,1,1
1,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,1,1,1,0,0

In [34]:
data = data.assign(row_id100=lambda x:data['row_id']*100, row_id10000=lambda x:data['row_id']*10000 )

In [35]:
data

,row_id,x,y,accuracy,time,place_id,day,hour,weekday,time_value,row_id100,row_id10000
0,112,2.2360,1.3655,66,623174,7663031065,8,5,3,1970-01-08 05:06:14,11200,1120000
1,180,2.2003,1.2541,65,610195,2358558474,8,1,3,1970-01-08 01:29:55,18000,1800000
2,367,2.4108,1.3213,74,579667,6644108708,7,17,2,1970-01-07 17:01:07,36700,3670000
3,874,2.0822,1.1973,320,143566,3229876087,2,15,4,1970-01-02 15:52:46,87400,8740000
4,1022,2.0160,1.1659,65,207993,3244363975,3,9,5,1970-01-03 09:46:33,102200,10220000
5,1045,2.3859,1.1660,498,503378,6438240873,6,19,1,1970-01-06 19:49:38,104500,10450000
6,1070,2.0568,1.0406,7,480804,4255947450,6,13,1,1970-01-06 13:33:24,107000,10700000
7,1332,2.0819,1.0337,18,168595,7954125509,2,22,4,1970-01-02 22:49:55,133200,13320000
8,1632,2.3992,1.2540,175,311410,2077754908,4,14,6,1970-01-04 14:30:10,163200,16320000
9,2205,2.0455,1.3258,70,579464,5992403068,7,16,2,1970-01-07 16:57:44,220500,22050000
10,3309,2.2188,1.2726,61,705163,6215057357,9,3,4,1970-01-09 03:52:43,330900,33090000
11,3933,2.0638,1.0326,136,705106,4255947450,9,3,4,1970-01-09 03:51:46,393300,39330000
12,4559,2.3518,1.3858,158,689945,7021063988,8,23,3,1970-01-08 23:39:05,455900,45590000
13,6477,2.2643,1.0703,61,521348,7929669489,7,0,2,1970-01-07 00:49:08,647700,64770000
14,6553,2.2252,1.4169,167,388126,7278590122,5,11,0,1970-01-05 11:48:46,655300,65530000
15,6631,2.4092,1.3542,69,221968,1536494374,3,13,5,1970-01-03 13:39:28,663100,66310000
16,6722,2.2820,1.3561,156,666068,8074414179,8,17,3,1970-01-08 17:01:08,672200,67220000
17,6745,2.3096,1.2559,1,686344,9773056775,8,22,3,1970-01-08 22:39:04,674500,67450000
18,7364,2.4260,1.1818,66,211515,6396652784,3,10,5,1970-01-03 10:45:15,736400,73640000
19,7490,2.0709,1.1180,952,442642,4110044452,6,2,1,1970-01-06 02:57:22,749000,74900000
20,7584,2.0984,1.1603,65,739592,9764078387,9,13,4,1970-01-09 13:26:32,758400,75840000
21,8892,2.3307,1.3149,6,144749,5883398718,2,16,4,1970-01-02 16:12:29,889200,88920000
22,9027,2.0750,1.2689,70,401002,3076556383,5,15,0,1970-01-05 15:23:22,902700,90270000
23,9608,2.4677,1.0455,66,91670,5033348570,2,1,4,1970-01-02 01:27:50,960800,96080000
24,9769,2.4445,1.1329,74,459222,8670584806,6,7,1,1970-01-06 07:33:42,976900,97690000
25,9947,2.0944,1.4606,69,226209,2074133146,3,14,5,1970-01-03 14:50:09,994700,99470000
26,10420,2.4200,1.3164,660,84562,6644108708,1,23,3,1970-01-01 23:29:22,1042000,104200000
27,10507,2.4896,1.2593,62,185131,7871954785,3,3,5,1970-01-03 03:25:31,1050700,105070000
28,10679,2.0218,1.1790,56,181286,2082127512,3,2,5,1970-01-03 02:21:26,1067900,106790000
29,11048,2.1451,1.0297,14,184213,2725217975,3,3,5,1970-01-03 03:10:13,1104800,110480000
...,...,...,...,...,...,...,...,...,...,...,...,...
83167,29108451,2.4594,1.3367,38,760546,5759149180,9,19,4,1970-01-09 19:15:46,2910845100,291084510000
83168,29108700,2.4955,1.4637,56,117465,6474510758,2,8,4,1970-01-02 08:37:45,2910870000,291087000000
83169,29108733,2.2275,1.3240,45,241132,5335193549,3,18,5,1970-01-03 18:58:52,2910873300,291087330000
83170,29109335,2.0237,1.1849,63,214322,2082127512,3,11,5,1970-01-03 11:32:02,2910933500,291093350000
83171,29109347,2.2661,1.2280,9,102106,3910675283,2,4,4,1970-01-02 04:21:46,2910934700,291093470000
83172,29109420,2.0187,1.1896,62,242487,9764078387,3,19,5,1970-01-03 19:21:27,2910942000,291094200000
83173,29109442,2.4365,1.3378,37,768833,6563939569,9,21,4,1970-01-09 21:33:53,2910944200,291094420000
83174,29109497,2.3265,1.1473,63,411004,6940115252,5,18,0,1970-01-05 18:10:04,2910949700,291094970000
83175,29110475,2.3296,1.2692,199,777319,3910675283,9,23,4,1970-01-09 23:55:19,2911047500,291104750000
83176,29110871,2.3971,1.1981,66,774140,5304570159,9,23,4,1970-01-09 23:02:20,2911087100,291108710000
83177,29111192,2.0690,1.2019,69,620545,3229876087,8,4,3,1970-01-08 04:22:25,2911119200,291111920000
83178,29111560,2.3750,1.3121,45,574168,8286292454,7,15,2,1970-01-07 15:29:28,2911156000,291115600000
83179,29111609,2.0606,1.3286,165,177998,3297144794,3,1,5,1970-01-03 01:26:38,2911160900,291116090000
83180,29111657,2.2101,1.0469,66,95782,7810150060,2,2,4,1970-01-02 02:36:22,2911165700,291116570000
83181,29111752,2.4739,1.0829,41,702862,8940024726,9,3,4,1970-01-09 03:14:22,2911175200,291117520000
83182,29111969,2.1649,1.3252,169,356800,8076001163,5,3,0,1970-01-05 03:06:40,2911196900,291119690000
83183,29112307,2.1874,1.1426,162,578723,4691678575,7,16,2,1970-01-07 16:45:23,2911230700,291123070000
83184,29112415,2.2852,1.1169,74,9295,3588028567,1,2,3,1970-01-01 02:34:55,2911241500,291124150000
83185,29113118,2.2993,1.1459,56,98409,3588028567,2,3,4,1970-01-02 03:20:09,2911311800,291131180000
83186,29113150,2.0707,1.3661,61,11347,1224473281,1,3,3,1970-01-01 03:09:07,2911315000,291131500000
83187,29113479,2.2881,1.2938,76,120290,3695846783,2,9,4,1970-01-02 09:24:50,2911347900,291134790000
83188,29113817,2.1334,1.4470,66,37774,8795956344,1,10,3,1970-01-01 10:29:34,2911381700,291138170000
83189,29114203,2.0364,1.2007,52,733126,5156008172,9,11,4,1970-01-09 11:38:46,2911420300,291142030000
83190,29114281,2.3639,1.2443,8,99734,2585551753,2,3,4,1970-01-02 03:42:14,2911428100,291142810000
83191,29114496,2.2710,1.1299,26,338564,1935182397,4,22,6,1970-01-04 22:02:44,2911449600,291144960000
83192,29115112,2.1889,1.2914,168,721885,4606837364,9,8,4,1970-01-09 08:31:25,2911511200,291151120000
83193,29115204,2.1193,1.4692,58,563389,2074133146,7,12,2,1970-01-07 12:29:49,2911520400,291152040000
83194,29115338,2.0007,1.4852,25,765986,6691588909,9,20,4,1970-01-09 20:46:26,2911533800,291153380000
83195,29115464,2.4132,1.4237,61,151918,7396159924,2,18,4,1970-01-02 18:11:58,2911546400,291154640000
83196,29117493,2.2948,1.0504,81,79569,1168869217,1,22,3,1970-01-01 22:06:09,2911749300,291174930000

### Testing

In [126]:
test_data = data.iloc[:15,:-2]

In [127]:
test_data['活动时间']=''
test_data.loc[test_data['hour'].isin(range(0,23)),'活动时间']='活跃'
test_data.loc[test_data['hour'].isin([23,0,1,2,3,4,5,6]),'活动时间']='休眠'

In [128]:
test_data.replace('休眠',np.nan,inplace=True)

In [129]:
test_data

,row_id,x,y,accuracy,time,place_id,day,hour,weekday,time_value,活动时间
0,112,2.2360,1.3655,66,623174,7663031065,8,5,3,1970-01-08 05:06:14,NaN
1,180,2.2003,1.2541,65,610195,2358558474,8,1,3,1970-01-08 01:29:55,NaN
2,367,2.4108,1.3213,74,579667,6644108708,7,17,2,1970-01-07 17:01:07,活跃
3,874,2.0822,1.1973,320,143566,3229876087,2,15,4,1970-01-02 15:52:46,活跃
4,1022,2.0160,1.1659,65,207993,3244363975,3,9,5,1970-01-03 09:46:33,活跃
5,1045,2.3859,1.1660,498,503378,6438240873,6,19,1,1970-01-06 19:49:38,活跃
6,1070,2.0568,1.0406,7,480804,4255947450,6,13,1,1970-01-06 13:33:24,活跃
7,1332,2.0819,1.0337,18,168595,7954125509,2,22,4,1970-01-02 22:49:55,活跃
8,1632,2.3992,1.2540,175,311410,2077754908,4,14,6,1970-01-04 14:30:10,活跃
9,2205,2.0455,1.3258,70,579464,5992403068,7,16,2,1970-01-07 16:57:44,活跃
10,3309,2.2188,1.2726,61,705163,6215057357,9,3,4,1970-01-09 03:52:43,NaN
11,3933,2.0638,1.0326,136,705106,4255947450,9,3,4,1970-01-09 03:51:46,NaN
12,4559,2.3518,1.3858,158,689945,7021063988,8,23,3,1970-01-08 23:39:05,NaN
13,6477,2.2643,1.0703,61,521348,7929669489,7,0,2,1970-01-07 00:49:08,NaN
14,6553,2.2252,1.4169,167,388126,7278590122,5,11,0,1970-01-05 11:48:46,活跃

In [114]:
test_data.dtypes

row_id                 int64
x                    float64
y                    float64
accuracy               int64
time                   int64
place_id               int64
day                    int64
hour                   int64
weekday                int64
time_value    datetime64[ns]
活动时间                  object
dtype: object

In [131]:
test_data['year']=test_data['time_value'].dt.year

In [132]:
test_data

,row_id,x,y,accuracy,time,place_id,day,hour,weekday,time_value,活动时间,year
0,112,2.2360,1.3655,66,623174,7663031065,8,5,3,1970-01-08 05:06:14,NaN,1970
1,180,2.2003,1.2541,65,610195,2358558474,8,1,3,1970-01-08 01:29:55,NaN,1970
2,367,2.4108,1.3213,74,579667,6644108708,7,17,2,1970-01-07 17:01:07,活跃,1970
3,874,2.0822,1.1973,320,143566,3229876087,2,15,4,1970-01-02 15:52:46,活跃,1970
4,1022,2.0160,1.1659,65,207993,3244363975,3,9,5,1970-01-03 09:46:33,活跃,1970
5,1045,2.3859,1.1660,498,503378,6438240873,6,19,1,1970-01-06 19:49:38,活跃,1970
6,1070,2.0568,1.0406,7,480804,4255947450,6,13,1,1970-01-06 13:33:24,活跃,1970
7,1332,2.0819,1.0337,18,168595,7954125509,2,22,4,1970-01-02 22:49:55,活跃,1970
8,1632,2.3992,1.2540,175,311410,2077754908,4,14,6,1970-01-04 14:30:10,活跃,1970
9,2205,2.0455,1.3258,70,579464,5992403068,7,16,2,1970-01-07 16:57:44,活跃,1970
10,3309,2.2188,1.2726,61,705163,6215057357,9,3,4,1970-01-09 03:52:43,NaN,1970
11,3933,2.0638,1.0326,136,705106,4255947450,9,3,4,1970-01-09 03:51:46,NaN,1970
12,4559,2.3518,1.3858,158,689945,7021063988,8,23,3,1970-01-08 23:39:05,NaN,1970
13,6477,2.2643,1.0703,61,521348,7929669489,7,0,2,1970-01-07 00:49:08,NaN,1970
14,6553,2.2252,1.4169,167,388126,7278590122,5,11,0,1970-01-05 11:48:46,活跃,1970

In [140]:
test_data['year']=pd.to_datetime(test_data['time_value'], format='D%M%Y%', errors='corece')

In [142]:
test_data.dtypes

row_id                 int64
x                    float64
y                    float64
accuracy               int64
time                   int64
place_id               int64
day                    int64
hour                   int64
weekday                int64
time_value    datetime64[ns]
活动时间                  object
year          datetime64[ns]
dtype: object

In [152]:
str(test_data['time_value'][1])

'1970-01-08 01:29:55'

In [153]:
str(test_data['time_value'][1]).replace('-','')[:4]+'-'+str(test_data['time_value'][1]).replace('-','')[4:8]

'1970-0108'