In [1]:
import pandas as pd
import numpy as np

In [16]:
!ls /Users/paxton615/Downloads/facebook-v-predicting-check-ins/

sample_submission.csv.zip train.csv
test.csv.zip              train.csv.zip

In [17]:
df = pd.read_csv('/Users/paxton615/Downloads/facebook-v-predicting-check-ins/train.csv')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29118021 entries, 0 to 29118020
Data columns (total 6 columns):
row_id      int64
x           float64
y           float64
accuracy    int64
time        int64
place_id    int64
dtypes: float64(2), int64(4)
memory usage: 1.3 GB

In [19]:
df.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [20]:
df[['x','y','accuracy']].describe()

                  x             y      accuracy
count  2.911802e+07  2.911802e+07  2.911802e+07
mean   4.999770e+00  5.001814e+00  8.284912e+01
std    2.857601e+00  2.887505e+00  1.147518e+02
min    0.000000e+00  0.000000e+00  1.000000e+00
25%    2.534700e+00  2.496700e+00  2.700000e+01
50%    5.009100e+00  4.988300e+00  6.200000e+01
75%    7.461400e+00  7.510300e+00  7.500000e+01
max    1.000000e+01  1.000000e+01  1.033000e+03

#### In order to go through the whole process asap:
#### 1. choose data from 2<x<2.5,  1<y<1.5
#### 2. save the subset in a new csv

In [23]:
df.query("2<x & x<2.5 & 1<y &y<1.5").shape

(83197, 6)

In [26]:
df[(df['x']>2) & (df['x']<2.5) & (df['y']>1) & (df['y']<1.5)].shape

(83197, 6)